//
// tables.scss
//


th {
    font-weight: $font-weight-semibold;
}

// Table centered
.table-centered {

    td,
    th {
        vertical-align: middle !important;
    }
}

// Table
.table-nowrap {

    th,
    td {
        white-space: nowrap;
    }
}

// Custom table components 
.table {
    tbody tr:last-child td {
        border-bottom: 0px;
    }

    &.table-dashed>:not(caption)>*>* {
        border-style: dashed;
    }

    .table-user {
        img {
            height: 30px;
            width: 30px;
        }
    }

    .action-icon {
        color: var(--#{$prefix}body-color);
        font-size: 1.2rem;
        display: inline-block;
        padding: 0 3px;

        &:hover {
            color: var(--#{$prefix}tertiary-color);
        }
    }
}

.tax-settings-table {
    .tax-settings-field {
        padding: 0.65rem 0.9rem;
        min-height: 44px;
        line-height: 1.2;
    }

    .tax-settings-country {
        min-width: 140px;
    }

    .tax-settings-state {
        min-width: 170px;
    }

    .tax-settings-postal,
    .tax-settings-city {
        min-width: 140px;
    }

    .tax-settings-rate {
        min-width: 90px;
    }

    .tax-settings-name {
        min-width: 160px;
    }

    .tax-settings-status {
        min-width: 120px;
    }
}


html[data-bs-theme="dark"] {
    .table-light {
        --#{$prefix}table-color: var(--#{$prefix}body-color);
        --#{$prefix}table-bg: var(--#{$prefix}light);
        --#{$prefix}table-border-color: #{$table-group-separator-color};
    }
}
