//
// app.scss
//

// Bootstrap core
@import "bootstrap/scss/functions";

// Your overrides
@import "config/variables";
@import "config/theme-dark";
@import "config/variables-custom";
@import "config/theme-mode";
// Bootstrap internals (Localized)
@import "bootstrap_local/functions";
@import "bootstrap_local/variables";
@import "bootstrap_local/variables-dark";
@import "bootstrap_local/maps";
@import "bootstrap_local/mixins";
@import "bootstrap_local/utilities";

// Full Bootstrap (Localized)
@import "bootstrap_local/bootstrap";


@import 'gridjs/dist/theme/mermaid.css';

@import 'nouislider/distribute/nouislider.css';

// Structure
@import 'structure/topbar';
@import 'structure/vertical';
@import 'structure/page-title';
@import 'structure/footer';

// Bootstrap
@import 'components/accordion';
@import 'components/alerts';
@import 'components/avatar';
@import 'components/backgrounds';
@import 'components/badge';
@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/card';
@import 'components/docs';
@import 'components/dropdown';
@import 'components/forms';
@import 'components/helper';
@import 'components/list-group';
@import 'components/modal';
@import 'components/nav';
@import 'components/pagination';
@import 'components/popover';
@import 'components/print';
@import 'components/progress';
@import 'components/reboot';
@import 'components/switch';
@import 'components/tables';
@import 'components/type';
@import 'components/tooltip';
@import 'components/widgets';
@import 'components/skeletons';

// Plugin
@import 'plugins/simplebar';
@import 'plugins/calendar';
@import 'plugins/choice';
@import 'plugins/dropzone';
@import 'plugins/editors';
@import 'plugins/gridjs';
@import 'plugins/apexcharts';
@import 'plugins/google-map';
@import 'plugins/vector-map';
@import 'plugins/dragula';
@import 'plugins/flatpicker';
@import 'plugins/swiper';
@import 'plugins/sweetalert';
@import 'plugins/prismjs';
@import 'plugins/range-slider';
@import 'plugins/toastify';

// App Page
@import 'pages/app-chat';
@import 'pages/app-email';
@import 'pages/app-ecommerce';

// Pages
@import 'pages/icon-demo';
@import 'pages/authentication';
@import 'pages/pricing';
@import 'pages/timeline';
@import 'pages/custom-react';
@import 'pages/admin-modern';

body {
    font-family: var(--font-primary), sans-serif !important;
}
